
*{
  box-sizing: border-box;
}

html{
  font-family: Pretendard, sans-serif;
  font-size: 24px;
  color: #464e5e;
}

body{
  margin: 0;
}

.header{
  margin-bottom: 56px;
}

.section{
  margin:56px;
}



